<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Define product information -->
  <Product Id="*" 
           Name="Window Jumper" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Your Name" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Hidden Background Browser for Windows"
             Comments="Installer for Window Jumper" />

    <MediaTemplate EmbedCab="yes" />

    <!-- Define upgrade behavior -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Define installation directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Window Jumper">
          <!-- Application files will go here -->
        </Directory>
      </Directory>
      
      <!-- Add Start Menu folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Window Jumper"/>
      </Directory>
      
      <!-- Add Desktop shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop" />
      
      <!-- Startup folder for auto-start -->
      <Directory Id="StartupFolder" />
    </Directory>

    <!-- Define components -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="WindowJumperExecutable" Guid="*">
        <File Id="WindowJumperEXE" 
              Name="Window Jumper.exe" 
              Source="$(var.ProjectDir)\bin\$(var.Configuration)\Window Jumper.exe" 
              KeyPath="yes" />
          
        <!-- Add registry entries to make it harder to detect -->
        <RegistryValue Root="HKLM" 
                       Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Window Jumper.exe" 
                       Value="[INSTALLFOLDER]Window Jumper.exe" 
                       Type="string" />
                       
        <!-- Add registry entry for auto-startup -->
        <RegistryValue Root="HKCU"
                       Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
                       Name="WindowJumper"
                       Value="[INSTALLFOLDER]Window Jumper.exe"
                       Type="string" />
      </Component>
      
      <!-- Add readme file -->
      <Component Id="ReadmeFile" Guid="*">
        <File Id="ReadmeTXT" 
              Name="Readme.txt" 
              Source="$(var.ProjectDir)\README.md" 
              KeyPath="yes" />
      </Component>
      
      <!-- Add license file -->
      <Component Id="LicenseFile" Guid="*">
        <File Id="LicenseTXT" 
              Name="License.txt" 
              Source="$(var.ProjectDir)\Installer\License.rtf" 
              KeyPath="yes" />
      </Component>
      
      <!-- Add configuration file -->
      <Component Id="ConfigFile" Guid="*">
        <File Id="ConfigFile"
              Name="Window Jumper.exe.config"
              Source="$(var.ProjectDir)\bin\$(var.Configuration)\Window Jumper.exe.config"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Start Menu shortcut -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="Window Jumper" 
                  Description="Hidden Background Browser"
                  Target="[INSTALLFOLDER]Window Jumper.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\WindowJumper" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Desktop shortcut -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="DesktopShortcut" 
                  Name="Window Jumper" 
                  Description="Hidden Background Browser"
                  Target="[INSTALLFOLDER]Window Jumper.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\WindowJumper" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Startup shortcut (optional - can be controlled by settings) -->
    <DirectoryRef Id="StartupFolder">
      <Component Id="StartupShortcut" Guid="*">
        <Shortcut Id="StartupShortcut" 
                  Name="Window Jumper" 
                  Description="Hidden Background Browser"
                  Target="[INSTALLFOLDER]Window Jumper.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\WindowJumper" Name="startup" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Define features to install -->
    <Feature Id="ProductFeature" Title="Window Jumper" Level="1">
      <ComponentRef Id="WindowJumperExecutable" />
      <ComponentRef Id="ConfigFile" />
      <ComponentRef Id="ReadmeFile" />
      <ComponentRef Id="LicenseFile" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentGroupRef Id="WebView2RuntimeRedist" />
      
      <!-- Startup shortcut is optional -->
      <Feature Id="StartupFeature" Title="Start with Windows" Level="1">
        <ComponentRef Id="StartupShortcut" />
      </Feature>
    </Feature>

    <!-- Custom UI -->
    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Installer\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Resources\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Resources\dialog.bmp" />

    <!-- Custom actions -->
    <CustomAction Id="LaunchApplication" 
                  FileKey="WindowJumperEXE" 
                  ExeCommand="" 
                  Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="LaunchApplication" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
    
    <!-- Include WebView2 runtime -->
    <ComponentGroup Id="WebView2RuntimeRedist">
      <Component Id="WebView2Bootstrapper" Guid="*" Directory="INSTALLFOLDER">
        <File Id="MicrosoftEdgeWebview2Setup" 
              Source="$(var.ProjectDir)\Installer\MicrosoftEdgeWebView2Setup.exe" 
              KeyPath="yes" />
              
        <CustomAction Id="InstallWebView2" 
                      FileKey="MicrosoftEdgeWebview2Setup" 
                      ExeCommand="/silent /install" 
                      Return="check" />
                      
        <InstallExecuteSequence>
          <Custom Action="InstallWebView2" After="InstallFiles">NOT WEBVIEW2ALREADYINSTALLED</Custom>
        </InstallExecuteSequence>
      </Component>
    </ComponentGroup>
    
    <!-- Registry search to detect if WebView2 is already installed -->
    <Property Id="WEBVIEW2ALREADYINSTALLED">
      <RegistrySearch Id="WebView2RegistrySearch" 
                      Root="HKLM" 
                      Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" 
                      Name="pv" 
                      Type="raw" />
    </Property>
  </Product>
</Wix>